.getting-started .outbound,.nav-links .outbound{
  display: none;
}

.getting-started a img{
  margin-right:8px;
}

//global
p code{
  // color: #e96900!important;
  // background-color: #f8f8f8!important;
  // margin: 0 2px!important;
  // padding: 0.25rem 0.4rem!important;
}

blockquote {
  font-size: 15px!important;
  color: #858585!important;
  border-left: 0.25rem solid #42b983!important;
  font-weight: 1000!important;
}

body::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
body::-webkit-scrollbar-thumb {/*滚动条整体样式*/
  border-radius: 10px;
  background-color: rgba(144,147,153,.3);
}
body::-webkit-scrollbar-thumb:hover {/*滚动条里面小方块*/
  border-radius: 10px;
  background-color: rgba(144,147,153,.5);
}
.sidebar::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
.sidebar::-webkit-scrollbar-thumb {/*滚动条整体样式*/
  border-radius: 10px;
  background-color: rgba(144,147,153,.3);
}
.sidebar::-webkit-scrollbar-thumb:hover {/*滚动条里面小方块*/
  border-radius: 10px;
  background-color: rgba(144,147,153,.5);
}
